bs4==0.0.1
CacheControl==0.12.11
cachy==0.3.0
cffi==1.15.1
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
distlib==0.3.6
keyring==21.8.0
lockfile==0.12.2
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.9.6
poetry==1.1.11
poetry-core==1.0.8
ptyprocess==0.7.0
pycparser==2.21
pylev==1.4.0
pyparsing==3.0.9
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
pytz==2023.3
requests-toolbelt==0.9.1
SecretStorage==3.3.3
shellingham==1.5.0.post1
six==1.16.0
telegram==0.0.1
tomlkit==0.11.6
tzdata==2023.3
virtualenv==20.17.1
webencodings==0.5.1
psutil==5.9.7
